* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

.container {
	width: 100%;
	margin: auto;
	height: 500px;
	font-family: 'Fjalla One', sans-serif;
}

header {
  font-family: 'Fjalla One', sans-serif;
  background: url(images/evergreen.jpg) no-repeat top center;
  background-size: cover;
  height: 100%;

}

.h1-header {
  position: absolute;
  left: 40%;
  top: 5%;
  font-size: 50px;
  text-decoration: underline;
}

.navbar {
  text-align: center;
  position: absolute;
  top: 50%;
  color: white;
  font-size: 35px;
  left: 35%;

}

#about-me {
  padding: 25px 25px;
  margin: 10px;
  text-decoration: underline;
}
#portfolio {
  padding: 25px 25px;
  margin: 10px;
  text-decoration: underline;
}

a {
  color: white;
}
a:hover {
  border: 5px solid white;
  border-radius: 10px;
}


#head-image {
  size: cover;
  height:100%;
  width: 100%;
}
.navbar {
  display: inline;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

.relaxr {
  position: relative;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;

}
.container {
  font-family: 'Fjalla One', sans-serif;
}

.citipix {
  text-align: center;
}

#citpix-img {
  margin-left: 400px;
}

.startup {
  text-align: center;
}